.img1{
    width: 350px;
    height: 400px;
}
body{
    margin: 20px;
    text-align: center;
    background-color: #535353;
}

h1,h2{
    font-size: 40px; 
}



.botao{
    background-color: #535353;
    border: 2px solid #000000;
    color: #ffffff;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 12px 0 ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}


.menu{
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px;
    margin:  40px 40 ;
}

.hed{
    padding-top: 20px;
}

.img1{
    width: 350px;
    height: 350px;
    border-radius: 2000px ;
    border: 2px solid #ffffff; 
}