.img1{
    width: 350px;
    height: 400px;
}
body{
    margin: 20px;
    text-align: center;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,124,124,1) 0%, rgba(61,61,61,1) 68%, rgba(0,0,0,1) 100%);
}

h1,h2{
    font-size: 40px; 
}



.botao{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,124,124,1) 0%, rgba(61,61,61,1) 68%, rgba(0,0,0,1) 100%);
    border: 2px solid #000000;
    color: #ffffff;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 12px 0 ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}


.menu{
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px;
    margin:  40px 40 ;
}

.hed{
    padding-top: 90px ;
}

.img1{
    width: 350px;
    height: 350px;
    border-radius: 2000px ;
    border: 2px solid #ffffff; 
}

.icons{
    padding-top: 250px;
}

.icons  a {
    text-decoration: none;
    color: inherit;
    margin: 200px;
}

.flip-box {
    background-color: transparent;
    height: 200px;

  }
  
  .flip-box-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    transform: rotateY(180deg);
    color: #ffffff;
  }
